body{
    background-color: rgb(40, 9, 49);
    margin-top: 15%;
}
#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
    color: white;
}

#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    background-color: rgb(198, 158, 249);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color:rgb(125, 75, 190); ;
}